.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Calculator.xcodeproj/project.xcworkspace/xcuserdata/oleksii_kolomiiets.xcuserdatad/UserInterfaceState.xcuserstate
Calculator.xcodeproj/xcuserdata/oleksii_kolomiiets.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist